.ncenter {
    text-align: left;
}
p,h1,h2,h3,h4,h5,h6,blockquote {
    text-align: center;
}
h1,h2,h3,h4,h5,h6 {
    text-shadow: 2px 2px #114514;
}
.fnref {
    top: -0.5em;
    font-size: 75%;
}
html {
    background:url(background.png);
    background-size: auto auto;
}
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    margin: 0.5rem 1rem;
    font-weight: 400;
    position: relative;
    padding: 1rem;
    border-left: 3px solid #ddd;
    background: #f8f8f8;
    border-radius: 10px;
}

blockquote:before {
    display: block;
    margin-bottom: 0.6rem;
}

blockquote:after {
    display: block;
    margin-bottom: 0.6rem;
    content: "by HelloWorldForGao";
    color: darkgrey;
}

blockquote.warn {
    border-color: #ff4136;
    color: #666;
}

blockquote.note {
    border-color: #5f9fd6;
    color: #666;
}

blockquote.warn:before {
    content: "警告：";
    color: #ff4136;
}

blockquote.note:before {
    content: "备注：";
    color: #5f9fd6;
}

hr {
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 0.8em;
    height: 10px;
}